body {
  margin: 10px;
  padding: 10px;
  background: url('https://wallpaperaccess.com/full/4620894.jpg') no-repeat
    center center/cover;
}

.Search {
  border: 3px solid black;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  position: relative;
  top: 100px;
  left: 350px;
}
p {
 
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color: whitesmoke;
  margin: 100px;
  padding: 80px;
  font-weight: bolder;
}

.left {
  /* border: 2px solid red; */
  font-family: 'Playfair Display', serif;
  font-size: 100dvh;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 50px;
}

#myid {
  padding-left: 7px;
}
.left img {
  width: 100px;
}
.left div {
  line-height: 10px;
  font-size: 20px;
  /* text-align:center; */
}
.mid {
  border: 2px solid white;
  border-radius: 40px;
  display: block;
  width: 80%;
  margin: 10px auto;
}
.right {
  /* border: 2px solid blue; */
  position: absolute;
  right: 25px;
  top: 45px;
  display: inline-block;
}

.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin: 20px 20px;
  padding: 5px 5px;
}
.navbar li a:hover {
  color: yellow;
  text-decoration: underline;
  font-size: 15px;
  cursor: grab;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
}
.left11 {
  font-size: 20px;
  border: 20px;
  border-radius: 10px;
}
.left12 {
  font-size: 20px;
  border: 20px;
  border-radius:10px ;
}
.left11:hover {
  background-color: wheat;
}
.left12:hover {
  background-color: wheat;
}
